.main__content-info {
  position: absolute;
  height: 1532.5px;
  left: 5%;
  right: 5%;
  top: 1678.78px;
}

.main__content-info-title-box {
  position: absolute;
  height: 338px;
  left: 0%;
  right: 25%;
  top: 0.22px;
}

.main__content-info-title {
  position: absolute;
  height: 244px;
  left: 1.54%;
  right: 1.54%;
  top: -0.22px;
}

#true {
  position: absolute;
  height: 123px;
  left: 0%;
  right: 38.85%;
  top: -7.78px;
  font-size: 114px;
  line-height: 107%;

  color: #000000;
}

#history {
  position: absolute;
  height: 123px;
  left: 0%;
  right: 57.54%;
  top: 114.22px;
  font-size: 114px;
  line-height: 107%;
  color: #000000;
}

.main__content-info-photo-box1 {
  position: absolute;
  height: 338px;
  left: 75%;
  right: 0%;
  top: 0.22px;
}
.main__content-info-photo-box-content {
  position: absolute;
  height: 338.12px;
  left: 4.63%;
  right: 4.63%;
  top: -0.22px;
}
.main__content-info-photo-box-content-photo {
  position: absolute;
  height: 294px;
  left: 0%;
  right: 0%;
  top: calc(50% - 294px / 2 - 21.84px);

  background: url(.jpg);
  border-radius: 0px;
}

.main__content-info-photo-box-content-caption {
  position: absolute;
  height: 33px;
  top: 307.22px;
  font-size: 11px;
  line-height: 148%;

  color: #000000;
}

.main__content-info-text-box {
  position: absolute;
  height: 338px;
  left: 0%;
  right: 50%;
  top: 383.22px;
}

.main__content-info-text {
  position: absolute;
  height: 147px;
  left: 2.31%;
  right: 7.69%;
  top: 95.47px;
}

#zapraszamy {
  position: relative;
  height: 47px;
  left: 0%;
  right: 2.43%;
  top: -0.47px;

  font-size: 17px;
  line-height: 138%;

  color: #000000;
}
#kazda {
  position: relative;
  height: 71px;
  left: 0%;
  right: 2.78%;
  top: 15px;

  font-size: 18px;
  line-height: 130%;

  color: #000000;
}

.main__content-info-photo-box2 {
  position: absolute;
  height: 338px;
  left: 50%;
  right: 25%;
  top: 383.22px;
}

.main__content-info-photo-box3 {
  position: absolute;
  height: 338px;
  left: 75%;
  right: 0%;
  top: 383.22px;
}
.main__content-info-photo-box4 {
  position: absolute;
  height: 338px;
  left: 25%;
  right: 50%;
  top: 766.22px;
}
.main__content-info-photo-box5 {
  position: absolute;
  height: 338px;
  left: 50%;
  right: 25%;
  top: 766.22px;
}
.main__content-info-photo-box6 {
  position: absolute;
  height: 338px;
  left: 75%;
  right: 0%;
  top: 766.22px;
}
.main__content-info-photo-box7 {
  position: absolute;
  height: 338px;
  left: 0%;
  right: 75%;
  top: 1149.22px;
}
.main__content-info-photo-box8 {
  position: absolute;
  height: 338px;
  left: 25%;
  right: 50%;
  top: 1149.22px;
}
.main__content-info-quote-box {
  position: absolute;
  height: 338px;
  left: 50%;
  right: 0%;
  top: 1149.22px;
}

#quote {
  position: absolute;
  height: 24px;
  left: 10.03%;
  right: 9.1%;
  top: 149px;
  font-size: 17px;
  line-height: 138%;

  color: #000000;
}
