.main__content-motivate {
  position: absolute;
  width: auto;
  height: 651.39px;
  left: 0%;
  right: 0%;
  top: 5928.67px;
}

.main__content-motivate-think-big-box {
  position: absolute;
  display: flex;
  height: 190px;
  // left: -180px;
  left: -180px;
  // right: -516px;
  right: -100%;
  top: 0px;
}

.main__content-motivate-start-small-box {
  position: absolute;
  display: flex;
  height: 190px;
  // left: -357px;
  left: -357px;
  // right: -78px;
  right: -100%;
  top: 190px;
}

.main__content-motivate-move-smart-box {
  position: absolute;
  display: flex;

  height: 190px;
  // left: -247px;
  left: -247px;
  // right: -410px;
  right: -100%;
  top: 380px;
}

.main__content-motivate-box {
  // position: absolute;
  display: flex;
  padding-right: 60px;
  width: auto;
  height: 115px;
  // left: -12.94%;
  // right: 78.74%;
  // top: 26.33px;

  font-size: 114px;
  line-height: 101%;

  color: #888888;
}

#think-big{
  color: #000000;
}

#start-small{
  color: #000000;
}

#move-start{
  color: #000000;
}