.main__content-pr-box {
  position: absolute;
  height: 844px;
  width: auto;
  left: 0%;
  right: 0%;
  top: 3764px;

  background-color: #000000;
  border-radius: 0px;
}

.main__content-pr-box-left-list {
  position: absolute;
  height: 112px;
  left: 5.52%;
  right: 87.67%;
  top: 160.36px;
}
#agile {
  position: absolute;
  height: 29px;
  left: 0.51%;
  right: 67.86%;
  top: -0.36px;
  font-size: 14px;
  line-height: 203%;

  color: #e8244f;
}

#evidence {
  position: absolute;
  height: 18px;
  left: 0.51%;
  right: 39.29%;
  top: 27.64px;

  font-size: 14px;
  line-height: 203%;

  color: #ffffff;
}
#empowerment {
  position: absolute;
  height: 18px;
  left: 0.51%;
  right: -0.51%;
  top: 55.64px;
  font-size: 15px;
  line-height: 190%;
  color: #ffffff;
}

#innovation {
  position: absolute;
  height: 18px;
  left: 0.51%;
  right: 30.1%;
  top: 83.64px;
  font-size: 14px;
  line-height: 203%;

  color: #ffffff;
}

.main__content-pr-box-all {
  position: absolute;
  height: 1px;
  left: -100%;
  right: -415%;
  top: 143.95px;
}
.main__content-pr-box-all2 {
  position: absolute;
  height: 605.67px;
  left: 16.26%;
  right: 67.48%;
  top: 1px;
}

.main__content-pr-box-text-box {
  position: absolute;
  height: 323.14px;
  left: 5%;
  right: 5%;
  top: 0px;
}
.main__content-pr-box-text-box-conteiner {
  position: absolute;
  height: 323.14px;
  left: 26.16%;
  right: 9.49%;
  top: 0px;
}
.main__content-pr-box-text-box-conteiner-details-box {
  position: relative;
  height: 32px;
  width: 143px;
  left: 0%;

  right: 82.85%;
  top: 69px;
  // top: 291.05px;
}
.main__content-pr-box-text-box-conteiner-details {
  position: relative;
  height: 22px;
  left: 0%;
  font-size: 16px;
  line-height: 132%;

  color: #ffffff;
}
.main__content-pr-box-text-box-conteiner-line {
  position: absolute;
  height: 1px;
  width: 143px;
  left: 0%;
  right: 10%;
  top: 323.14px;

  background: #ffffff;
}

.main__content-pr-box-text-box-conteiner-title1 {
  position: relative;
  height: 71px;
  left: 0%;
  top: 0.05px;

  font-size: 58px;
  line-height: 121%;
  color: #ffffff;
}

.main__content-pr-box-text-box-conteiner-title2 {
  position: relative;
  height: 71px;
  left: 0%;
  top: 0px;

  font-size: 58px;
  line-height: 121%;
  color: #ffffff;
}

.main__content-pr-box-text-box-conteiner-body {
  position: relative;
  height: 79px;
  width: 416px;
  left: 0%;
  // right: 50.12%;
  // top: 190.05px;
  top: 49px;
  font-size: 20px;
  line-height: 131%;

  color: #ffffff;
}

.main__content-pr-box-footer {
  position: absolute;
  height: 148px;
  left: 0%;
  right: 0%;
  top: 457.67px;
}

.main__content-pr-box-footer-agile {
  position: absolute;
  height: 149px;
  left: 4.51%;
  right: 77.85%;
  top: -0.62px;

  font-size: 114px;
  line-height: 130%;

  color: #e8244f;
}

.main__content-pr-box-footer-evidence {
  position: absolute;
  height: 149px;
  left: 25.9%;
  right: 40.35%;
  top: -0.62px;

  font-size: 114px;
  line-height: 130%;

  color: #181818;
}
.main__content-pr-box-footer-empowerment {
  position: absolute;
  height: 149px;
  left: 63.4%;
  right: -17.57%;
  top: -0.62px;
  font-size: 114px;
  line-height: 130%;
  color: #181818;
}
.main__content-pr-box-footer-innovation {
  position: absolute;
  height: 149px;
  left: 121.39%;
  right: -59.79%;
  top: -0.62px;

  font-size: 114px;
  line-height: 130%;
  color: #181818;
}
