.main__footer {
  position: absolute;
  height: 890px;
  left: 0%;
  right: 0%;
  top: 7819px;
  color: #ffffff;
  background-color: #000000;
}

.main__footer-rights {
  position: absolute;
  height: 16px;
  left: 5%;
  right: 5%;
  top: 830.66px;
  font-size: 12px;
  line-height: 141%;
  color: rgba(255, 255, 255, 0.4);
}

#copyright {
  position: absolute;
  height: 17px;
  left: 1.16%;
}
#copyright {
  position: absolute;
  height: 17px;
  left: 20.52%;
}

#design {
  position: absolute;
  width: 46px;
  height: 17px;
  right: 55px;
}
#designer {
  position: absolute;
  width: 40px;
  height: 17px;
  right: 15px;
}

.main__footer-content {
  position: absolute;
  height: 733.19px;
  left: 5%;
  right: 5%;
  top: 97.47px;
}

.main__footer-content-consultation {
  position: absolute;
  height: 35px;
  left: 15px;
  top: 0px;

  font-size: 10px;
  line-height: 342%;

  letter-spacing: 0.44px;
  text-transform: uppercase;
}

.main__footer-content-contacts {
  position: absolute;
  height: 194px;
  left: 1.16%;
  right: 1.16%;
  top: 98.8px;
}
#email {
  position: relative;
  height: 98px;
  left: 0%;
  right: 57.27%;
  top: -1.27px;
  font-size: 65px;
  line-height: 150%;
}

#phone {
  position: relative;
  height: 98px;
  left: 0%;
  right: 58.37%;

  font-size: 65px;
  line-height: 150%;
}

.main__footer-content-address-box {
  position: absolute;
  height: 296.39px;
  left: 0%;
  right: 0%;
  top: 436.8px;
}
.main__footer-content-address {
  position: absolute;
  height: 296.39px;
  left: 0%;
  right: 33.33%;
  top: 0px;
}

.main__footer-content-address-studio {
  position: relative;
  height: 34px;
  left: 1.74%;
  right: 60.88%;
  top: -0.27px;

  font-size: 20px;
  line-height: 166%;
}

.main__footer-content-address-polska {
  position: relative;
height: 34px;
left: 1.74%;
right: 73.73%;

  font-size: 20px;
  line-height: 166%;
}

.main__footer-content-address-social {
  position: absolute;
  height: 48.84px;
  left: 67.82%;
  right: 1.16%;
  top: 0px;
}

.main__footer-content-address-social-logo1{
  position: absolute;
width: 60px;
height: 60px;
left: calc(50% - 60px/2 + 79px);
top: -0.27px;
}

.main__footer-content-address-social-logo1, .main__footer-content-address-social-logo2 :hover{
  cursor: pointer;
}

.main__footer-content-address-social-logo2{
  position: absolute;
width: 60px;
height: 60px;
left: calc(50% - 60px/2 + 182px);
top: -0.27px;
}