.main__content-brands-box {
  position: absolute;
  height: 301.08px;
  left: 5%;
  right: 5%;
  top: 3348.08px;
}

#zaufali {
  position: absolute;
  height: 35px;
  left: 1.16%;
  top: -1.08px;
  font-size: 10px;
  line-height: 342%;

  letter-spacing: 0.44px;
  text-transform: uppercase;

  color: #e8244f;
}

.main__content-brands1 {
  position: absolute;
  height: 76.14px;
  left: 1.16%;
  right: 1.16%;
  top: 98.8px;
}

.main__content-brands2 {
  position: absolute;
  height: 76.14px;
  left: 1.16%;
  right: 1.16%;
  top: 224.94px;
}

#admind {
  position: absolute;
  height: 76px;
  left: 0%;
  right: 80.02%;
  top: calc(50% - 76px / 2 + 0.05px);
}

#akat {
  position: absolute;
  height: 76px;
  left: 19.98%;
  right: 60.03%;
  top: calc(50% - 76px / 2 + 0.05px);
}

#corner {
  position: absolute;
  height: 76px;
  left: 39.97%;
  right: 40.05%;
  top: calc(50% - 76px / 2 + 0.05px);
}
#eacto {
  position: absolute;
  height: 76px;
  left: 60.03%;
  right: 19.98%;
  top: calc(50% - 76px / 2 + 0.05px);
}

#santander {
  position: absolute;
  height: 76px;
  left: 80.02%;
  right: 0%;
  top: calc(50% - 76px / 2 + 0.05px);
}

#setup {
  position: absolute;
  height: 76px;
  left: 0%;
  right: 80.02%;
  top: calc(50% - 76px / 2 - 0.09px);
}

#exso {
  position: absolute;
  height: 76px;
  left: 19.98%;
  right: 60.03%;
  top: calc(50% - 76px / 2 - 0.09px);
}
#alfa {
  position: absolute;
  height: 76px;
  left: 39.97%;
  right: 40.05%;
  top: calc(50% - 76px / 2 - 0.09px);
}

#bm {
  position: absolute;
  height: 76px;
  left: 60.03%;
  right: 19.98%;
  top: calc(50% - 76px / 2 - 0.09px);
}
#brs {
  position: absolute;
  height: 76px;
  left: 80.02%;
  right: 0%;
  top: calc(50% - 76px / 2 - 0.09px);
}
