.main__content-face {
  position: absolute;
  height: 1080.55px;
  left: 6.04%;
  right: 6.04%;
  top: 6639.81px;
  color: #000000;
}

.main__content-face-box1 {
  position: absolute;
  height: 1017.69px;
  left: 0%;
  right: 50%;
  top: 62.86px;
}
.main__content-face-box2 {
  position: absolute;
  height: 1080.55px;
  left: 50%;
  right: 0%;
  top: 0px;
}

.main__content-face-box1-text {
  position: absolute;
  height: 171px;
  left: 0%;
  right: 17.22%;
  top: 34.33px;
  font-size: 46px;
  line-height: 124%;
}

.main__content-face-box1-img {
  position: absolute;
  top: 244.33px;
  bottom: 15.36px;
  left: 0px;
}
.main__content-face-box2-text {
  position: absolute;
  height: 77px;
  left: 11.37%;
  right: 5.21%;
  top: 799.19px;

  font-size: 20px;
  line-height: 127%;
}
.main__content-face-box2-img {
  position: absolute;
  top: 0px;
  right: -1px;
}

.main__content-face-box3 {
  position: absolute;
  height: 173px;
  left: 11.37%;
  right: 0%;
  top: 907.55px;
}

.main__content-face-box3-sign1 {
  position: absolute;
  height: 173px;
  left: 0%;
  right: 50%;
  top: 0px;
}

.main__content-face-box3-sign2 {
  position: absolute;
  height: 173px;
  left: 50%;
  right: 0%;
  top: 0px;
}

.main__content-face-box3-sign1-text {
  position: absolute;
  height: 22px;
  left: 0%;
  top: 135.64px;

  font-size: 16px;
  line-height: 132%;
}

.main__content-face-box3-sign2-text {
  position: absolute;
  height: 22px;
  left: 0.18%;
  top: 135.64px;

  font-size: 16px;
  line-height: 132%;
}

