.main__header {
  position: absolute;
  height: 800px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #000000;
  border-radius: 0px;
  @media (max-width: 1000px) {
  }
}

.main__logo {
  position: absolute;
  width: 147px;
  height: 20px;
  left: 55px;
  top: 34px;
  @media (max-width: 1000px) {
  }
}

.main__menu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 34px;
  left: 71.88%;
  right: 5%;
  top: 20px;
  @media (max-width: 1000px) {
    display: none;
  }
}

// .mobile__menu{
//   @media (max-width: 1000px){
//     display: flex;
//   }
// }

.know,
.info,
.blog,
.contact {
  position: relative;
  display: inline-flex;
  top: 50%;
  transform: translate(0, -50%);

  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

  letter-spacing: 1px;

  color: #ffffff;
}
.know,
.info,
.blog,
.contact :hover{
  cursor: pointer;
}

.know {
  height: 13px;
}
.blog {
  height: 13px;
}

.contact {
  height: 13px;
}

.info {
  height: 13px;
}

.main__headerbottomcrap {
  position: absolute;
  display: inline-flex;
  height: 54px;
  left: 5%;
  right: 5%;
  top: 666px;
  font-size: 19px;
  line-height: 27px;
  color: #ffffff;
}

.main__headerbottomrightcrapblock {
  position: absolute;
  height: 48.95px;
  top: 0px;
  left: 87.82%;
  right: 1.7%;
}
.main__headerbottomrightcraptext {
  position: absolute;
  display: block;
  width: 173px;
  height: 40.03px;
  right: 0px;
  top: calc(50% - 40.03px / 2 - 0.01px);
}

#poznajmy {
  position: absolute;
  height: 22px;
  left: 0%;
  right: 25.43%;
  top: -2.45%;

  font-size: 20px;
  line-height: 108%;

  color: #ffffff;
}

#umow {
  position: absolute;
  height: 16px;
  left: 0%;
  right: 0%;
  top: 24.55px;
  font-size: 11px;
  line-height: 145%;

  color: rgba(255, 255, 255, 0.4);
}

.main__taglinearea {
  position: absolute;
  height: 258px;
  left: 29.14%;
  right: 19.06%;
  top: 231px;
}

#spin {
  position: absolute;
  height: 15px;
  left: -21.79%;
  right: 118.31%;
  top: -24px;

  font-size: 11px;
  line-height: 135%;
  letter-spacing: 0.2px;

  color: #999999;
}

#designing {
  position: absolute;
  height: 126px;
  left: -25.95%;
  right: 30.91%;
  top: -6px;

  font-size: 114px;
  line-height: 110%;

  color: #ffffff;
}

#yourbussines {
  position: absolute;
  height: 126px;
  left: 0.06%;
  right: -0.06%;
  top: 119px;

  font-size: 114px;
  line-height: 110%;

  color: #ffffff;
}

.main__animationtriangleblock1 {
  position: absolute;
  width: 533px;
  height: 533px;
  left: calc(50% - 533px / 2 + 0.5px);
  top: 94px;
}

.main__triangleblue {
  position: absolute;
  left: 28.44px;
  top: 14.7%;
  animation-name: rotationBlue;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;

}


.main__trianglered {
  position: absolute;
  left: 16.67%;
  top: 14.17%;
  animation-name: rotationRed;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;

}

@import '../animations/animationTriangles'
